.venv

[Bb]in/
[Ob]j/
[Log]s/

appsettings.Development.json
appsettings.local.json
.usersecrets

.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.DS_Store
Thumbs.db
*.swp
*~

node_modules/
.nuget/